* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body::after {
  background: url('/images/dog_pattern-2.jpg');
  background-repeat: repeat !important;
  background-size: cover;
  position: fixed;
  filter: opacity(0.2);
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.bg-nav {
  /* background-color: rgb(190, 220, 95); */
  background-color: rgb(245, 220, 198) !important;
}

.bg-nav ul li a {
  color: rgb(0, 0, 0);
}

.bg-nav ul li a:hover,
.pw_link {
  color: rgb(237, 143, 28);
  font-weight: bold;
  transition: ease-in 0.3s;
}

.hero {
  height: 100vh;
  margin-top: 6rem;
}

.dog_main img {
  max-width: 80%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 10px rgb(150, 150, 150);
}

.left {
  line-height: 6rem;
}

.cont:hover {
  background-color: rgb(245, 220, 198);
  box-shadow: 0px 0px 10px rgb(134, 119, 107);
  transition: ease-in 0.3s;
}
